.App {
  font-family: sans-serif;
  text-align: center;
}

header {
  margin-bottom: 30px;
}

.col-md-4 {
  margin-bottom: 30px;
}

.card {
  /* padding: 10px; */
  border: solid 1px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.08);
}
.card-title {
  margin-top: 20px;
}
.card-text {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
.card-text .fa {
  font-size: 26px;
}
.avatar {
  width: 140px;
  margin: auto;
}
.avatar img {
  border: solid 6px transparent;
  border-radius: 50%;
}
.card:hover .avatar img {
  border-color: rgb(99, 204, 131);
}

.btn {
  border-radius: 25px;
}

footer p {
  color: rgba(0, 0, 0, 0.6);
}

footer p a,
footer p a:hover {
  color: rgb(99, 204, 131);
}

.card-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
  flex: 1;

}

@media (min-width: 1200px) {
  .container {
    max-width: 1040px;
  }
}
.App {
  font-family: sans-serif;
  text-align: center;
}

header {
  margin-bottom: 30px;
}

.col-md-4 {
  margin-bottom: 30px;
}

.card {
  /* padding: 10px; */
  margin: 10px;
  border: solid 1px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.08);
}
.card-title {
  margin-top: 20px;
}
.card-text {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
.card-text .fa {
  font-size: 26px;
}
.avatar {
  width: 140px;
  margin: auto;
}
.avatar img {
  border: solid 6px transparent;
  border-radius: 50%;
}
.card:hover .avatar img {
  border-color: rgb(99, 204, 131);
}

.btn {
  border-radius: 25px;
}

footer p {
  color: rgba(0, 0, 0, 0.6);
}

footer p a,
footer p a:hover {
  color: rgb(99, 204, 131);
}

.card-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
  flex: 1;
  /* margin: 20px; */
  align-items: center;

}

.avatar-circle {
  width: 100px;
  height: 100px;
  background-color: grey;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.initials {
  position: relative;
  top: 25px; /* 25% of parent */
  font-size: 50px; /* 50% of parent */
  line-height: 50px; /* 50% of parent */
  color: #fff;
  font-family: "Courier New", monospace;
  font-weight: bold;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1040px;
  }
}
